
body{
    background-image: url('https://ugc.kn3.net/i/origin/http://3.bp.blogspot.com/-muwBNyH9hvA/Tma125OjRKI/AAAAAAAAAR4/7oHylEOHoic/s1600/fuegos_artificiales2.jpg');
    
}

h1{
    font-weight: bold;
    color: rgb(255, 8, 0);
    text-align: center;
}
img{
    align-items: center;
}